.back{
	background-color: red;
	width: 500px;
	height: 500px;
}

.end{
	background-color: blue;
	display: inline-block;
	width: 400px;
	height: 400px;
	text-align: center;
	padding: 25px;
	margin: 25px;
}